@tailwind base;
@tailwind components;
@tailwind utilities;



/* SF Pro-like styling */
.font-sf-pro {
  font-family: -apple-system, BlinkMacSystemFont, var(--font-public-sans),
    var(--font-inter), ui-sans-serif, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.015em;
}
